body {
  padding-top: 50px;
}
.modal-body{
	background: #f9f9f9;
}
.login{
	border-color: #82c672;
	border-width: 2px;
	color: #82c672;
}
.login i{
	color: #9d9d9d
}
.loginBtn{
	background: #82c672;
	color: #fff;
	font-weight: bold;
}
.loginBtn:hover{
	color: #fff;
}
.criarBtn{
	background: #faa733;
	color: #fff;
	font-weight: bold;
}
.criarBtn:hover{
	color: #fff;
}
.esqueci{
	text-decoration: none;
	color: #9d9d9d;  
}
.esqueci:hover{
	text-decoration: none;
	color: #9d9d9d;  
}
.starter-template {
  text-align: center;
}
.entrar{
	font-size:15px;
}
.social{
	margin-top:11px;
}
span.glyphicon-user{
	color:#faa733;
}
.pulaLinha{
	padding-bottom: 10px;
}

.page-header{ margin-top:5px; }
.page-header > .row > .col-xs-7 > .col-md-3 > a{ text-decoration: none; color: #9d9d9d; padding: 0; }
.page-header > .row > .col-xs-5 > .col-md-6 > a{ text-decoration: none; color: #9d9d9d; padding: 0; }

.noMargin{
	padding: 0;
}
.logo{
	width:auto;
	height:60px;
}
.logoCol{
	height:90px;	
}
.regionalImg{
	min-height:90px;
	max-height:90px;
	text-align:center;
	padding:0;
}
.regionalImg > img{
	margin-top:18px;
	padding-right:0
}
.regional{
	max-height:90px;
	padding-right:0	
}
.regional .texto1{
	font-weight: bold;
	color: #9d9d9d;
}
.regional .texto1 .esq{
	transform: rotate(270deg);
}
.regional .texto2{
	color: #9d9d9d;
}

.sub-header > h4 > .col-md-10 > .col-md-3 > a{ text-decoration: none; padding: 0; }
.sub-header > h4 > .col-md-1 > a{ text-decoration: none; color: #bbb; padding: 0; }
.sub-header > h4 > .col-md-10 > .col-md-3 { padding-bottom: 10px; }

.noticias{
	color: #f26b39;
}
.capacitese{
	color: #1a81b6;
}
.participe{
	color: #48b7a3;
}
.consulte{
	color: #faa733;
}

.assuntos{
	background-color: #f7f5f5;
	margin-top: -20px;
}

.btn-toolbar .btn{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.btn-toolbar .ass{
    background-color: #9d9d9d;
}
.btn-toolbar .btn-link{
    text-decoration: none;
    color: #9d9d9d;
}

.banner{
	height: 90px;
	width: 100%;
	background-color: #e2e2e2;
}

.panel{
    border-radius: 0px;
}
.grande{
	max-width: 417px;
	float: none;
	margin: 0px auto 30px auto;
}
.label-participe{
	background-color: #48b7a3;
	padding: 10px 10px 10px 15px;
    border-radius: 0px;
}
.label-novidades{
	background-color: #f26b39;
	padding: 10px 10px 10px 15px;
    border-radius: 0px;
}
.label-capacitese{
	background-color: #1a81b6;
	padding: 10px 10px 10px 15px;
    border-radius: 0px;
}
.label-consultar{
	padding: 10px 10px 10px 15px;
}
.wg{
	position: relative;
	min-height: 60px;
	max-height: 128px;
	padding: 0;
	overflow:hidden;
}
.wg img{
	position: relative;
	top: -50px;
	left: 0;
}
.wg .row{
	position: absolute;
    left: 0;
    bottom: 9px;
}
.panel{
	border: 1px solid #e2e2e2;
}
.panel-body .panel-participe{
	color: #48b7a3;
	font-size: 18px;
}
.panel-body .panel-novidades{
	color: #f26b39;
	font-size: 18px;
}
.panel-body .panel-capacitese{
	color: #1a81b6;
	font-size: 18px;
}
.panel-body p{
	margin: 0;
	color: #9d9d9d;
}
.widget{
	padding: 0px;
	list-style:none;
}
.widget > li{
	color: #9d9d9d;
}
.widget > li > i{
	padding: 3px;
	text-align: center;
	width: 20px;
}
.panel-yellow{
	position: relative;
	max-height: 400px;
}
.panel-yellow .panel-heading{
	position: relative;
	min-height: 0px;
	height: 37px;
	background-color: #faa733;
	border-radius: 0px;
}
.panel-yellow .panel-body{
	max-height: 350px;
	overflow: auto;
}
.panel-yellow .panel-body ul li{
	border-left: 0px;
	border-right: 0px;
	color: #9d9d9d;
}
.panel-yellow .panel-body ul li:first-child{
	border-top: 0px;
}
.panel-yellow .panel-body ul li:last-child{
	border-bottom: 0px;
}
.panel-yellow .panel-body ul li button{
	float: right;
	transform: rotate(270deg);
	text-decoration: none;
	color: #9d9d9d;
}

.panorama{
	position: relative;
    height: 288px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #133260;
}
.panorama .pan{
	position: absolute;
	top: 0;
	right: 0;
}
.panorama .oitenta{
	position: absolute;
	top: 30px;
	margin-left: 50%;
	left: -46px;
}
.panorama .pan1{
	position: absolute;
	top: 142px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
}
.panorama .pan2{
	position: absolute;
	top: 160px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	width: 100%;
}
.panorama .botao{
	position: absolute;
	top: 218px;
	text-align: center;
	width: 100%;
}
.panorama .botao button{
	color: #133260;
	font-weight: bold;
}

.ultmnews{
	margin-top: 30px;
	border-color: #f26b39;
	padding-bottom: 20px;
}
.ultmnews h3{
	margin: 0;
}
.edt{
	margin-bottom: 10px;
	border: none;
}
.edt p{
	font-weight: bold;
}
.ed{
	padding: 10px 15px 0px 15px;
}
.ed .panel-title{
	font-size: 13px;
	font-weight:bold;
	color: #9d9d9d;
}
.editoria{
	padding: 0px 15px 10px 15px;
	color: #f26b39;
	font-size: 18px;
}
.cub{
	margin-top: 20px;
}
.cub .mes{
	color: #9d9d9d;
	font-size: 13px;
	font-weight: bold;
}
.cub p{
	margin:0;
	color: #f26b39;
	font-size: 18px;
	font-weight: normal;
}
.cub .descritivo{
	color: #9d9d9d;
	font-size: 13px;
}
.ind p{
	padding-top: 22px;
	margin: 0;
	color: #9d9d9d;
	font-size: 13px;
	font-weight: bold;
}
.cubTitle{
	font-size: 15px;
	text-align: center;
}
.cubData{
	font-size: 40px;
	text-align: center;
}
.borda{
	border: 1px solid #9d9d9d;
}
.tb1{
	padding-right: 0px;
}
.tb2{
	padding-left: 0px;
}
.table td{
	vertical-align: middle;
}
.table td:first-child{
	text-align: center;
}
.tableTitle{
	font-size: 13px;
	font-weight: bold;
	color: #9d9d9d;
	margin-top: 10px;
	margin-bottom: 0;
}
.tableData{
	font-size: 40px;
}
.tableDt{
	font-size: 13px;
}
.revistas h3{
	margin: 0;
	font-size: 18px;
}
.revistas h3 small{
	font-size: 13px;
	font-weight: bold;
	color: #9d9d9d;
}
.col1{
	padding-right: 0px;
}
.col2{
	padding-left: 0px;
}
.revistaDet{
	padding: 0px;
	list-style-position: inside;
}
.inscrevase{
	color: #9d9d9d;
}
.inscrevase .col-xs-3 i{
	margin-top: 8px;
}
.email{
	font-size: 13px;
	font-weight: bold;
}
.emailCol{
	padding-right: 0px;
	font-size: 13px;
}
.cursos{
	margin-top: 30px;
	border-color: #1a81b6;
	padding-bottom: 20px;
}
.cursos h3{
	margin: 0;
}
.pub{
	max-height: 159px;
	max-width: 350px;
	border: 1px solid #e2e2e2;
	float: none;
    margin: 0 auto;
}
.dev{
	margin-top: 30px;
	border-color: #48b7a3;
	padding-bottom: 20px;
}
.dev h3{
	margin: 0;
}
.carousel{
	max-width: 360px;
	max-height: 150px;
	border: 1px solid #e2e2e2;
	float: none;
    margin: 0 auto;
}
.crsl{
	color: #9d9d9d;
	font-size: 13px;
	font-weight: bold;
}

.juntese{
	text-align: center;
}
.juntese .j1{
	font-size: 13px;
	font-weight: bold;
	color: #9d9d9d;
	margin: 0;
}
.juntese .j2{
	font-size: 22px;
	color: #48b7a3;
}
.juntese .j3{
	font-size: 22px;
	color: #cf1312;
}
.painel{
	font-size: 12px;
	color: #9d9d9d;
}
.pequeno{
	max-width: 263px;
	min-height: 328px;
	float: none;
	margin: 30px auto;
}
.medio{
	max-width: 361px;
	float: none;
	margin: 30px auto;
}
.ftr{
	position: relative;
	min-height: 60px;
	padding: 0;
	overflow:hidden;
}
.ftr .row{
	position: absolute;
    left: 0;
    bottom: 9px;
}
.fim{
	border-color: #c69f13;
	margin-bottom: 0;
}
.final{
	margin: 0;
	width: 100%;
}
.celula{
	border: 1px solid #e2e2e2;
	border-left: 0px;
	border-top: 0px;
	padding: 20px;
	height: 100%;
	display: table-cell;
    float:none;
    vertical-align:middle;
    font-size: 13px;
	color: #9d9d9d;
}
.celula:first-child{
	text-align: center;
}
.celula:last-child{
	border-right: 0px;
}
.socialFooter img{
	padding: 10px;
	opacity: 0.6;
}
.endereco{
	font-size: 13px;
	line-height: 80%;
	color: #9d9d9d; 
}
.endereco .link{
	color: #c69f13;
}
.listFooter{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.listFooter p{
	font-size: 13px;
	font-weight: bold;
	color: #9d9d9d; 
}
.listFooter li{
	margin-bottom: 10px; 
	font-size: 13px;
}
.listFooter li a{
	text-decoration: none;
	color: #9d9d9d;  
}
.listFooter li:before{
	content: '\f0da';
	font-family: FontAwesome;
	display: inline-block;
	width: 1.2em;
	margin-left: -1.5em;
	padding-left: 0.6em;
	color: #c69f13; 
}

.conta{
	margin-top: 30px;
	border-color: #faa733;
}
.input1{
	padding-left: 0px;
}
.input2{
	padding-right: 0px;
}
.criarConta{
	padding: 20px 15px 20px 15px;
}
.criarConta button{
	font-weight: bolder;
	vertical-align: middle;
}
.criarConta label{
	color: #9d9d9d;
	vertical-align: middle;
}
.criarConta label a{
	color: #9d9d9d;
}
.indiceCol{
	padding: 0;
	float:none;
	display: table-cell;
	height: 100%;
}
.indice{
	border: 1px solid #e2e2e2;
	margin: 0;
	width: 100%;
}
.menuLateral{
	list-style-type: none;
    padding: 0px;
    padding-top: 30px;
}
.menuLateral li{
	padding: 5px;
	padding-left: 15px;
}
.menuLateral li a{
	text-decoration: none;
	color: #9d9d9d;  
}
.menuLateral li:hover{
	background-color: #e2e2e2;
	border-left: 1px solid #9d9d9d;
	border-right: 1px solid #9d9d9d;
	margin-left: -1px;
	padding-left: 15px;
}
.menuLateral li:before{
	content: '\f0da';
	font-family: FontAwesome;
	display: inline-block;
	width: 1.2em;
	color: #9d9d9d; 
}
.submenu{
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1;
	padding: 0;
	background-color: #e2e2e2;
	height: 100%;
}
.subMenuLateral{
	list-style-type: none;
    padding: 0px;
    padding-top: 30px;
}
.subMenuLateral li{
	padding: 5px;
	padding-left: 15px;
}
.subMenuLateral li a{
	text-decoration: none;
	color: #9d9d9d;  
}
.subMenuLateral .subTitle{
	font-weight: bold;
	color: #9d9d9d;
}
.subMenuLateral .subTitle:before{
	content: '';
}
.subMenuLateral li:hover{
	border: 0;
	margin: 0;
}
.subMenuLateral li:before{
	content: '\f0da';
	font-family: FontAwesome;
	display: inline-block;
	width: 1.2em;
	color: #9d9d9d; 
}

.graficoCol{
	padding-top: 30px;
	display: table-cell;
	height: 100%;
	float:none;
}
.graficoCol hr{
	margin-top: 9px;
	margin-bottom: 9px;
}
.graficoTitle{
	margin-bottom: 9px;
}
.graficoTitle h3{
	margin: 0;
}
.graficoTitle h4{
	margin: 0;
	color: #9d9d9d; 
}
.submenu{
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1;
	padding: 0;
	background-color: #e2e2e2;
	height: 100%;
}
.graficoMenu{
	list-style-type: none;
    padding: 0px;
}
.graficoMenu li{
	padding: 0;
	padding-left: 15px;
}
.graficoMenu li:before{
	content: '\f0da';
	font-family: FontAwesome;
	display: inline-block;
	width: 1.2em;
	color: #9d9d9d; 
}
.graficoMenu .graficoComplemento:before{
	content: '';
	margin-left: -15px;
}
.graficoMenu .graficoComplemento{
	color: #9d9d9d; 
}

.graficoList{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.graficoList li{
	margin-bottom: 10px; 
	font-size: 12px;
	font-weight: bold;
	padding-right: 0;
}
.graficoList li a{
	text-decoration: none;
	color: #333;  
}
.graficoList li:before{
	content: '\f0da';
	font-family: FontAwesome;
	display: inline-block;
	width: 1.2em;
	margin-left: -1.5em;
	padding-left: 0.6em;
	color: #c69f13; 
}
#myfirstchart{
		height: 250px
	}

@media(max-width:991px){
    .btn-toolbar
    {
        display: block;
        text-align: center;
        float:none;
        white-space: pre-line;	
    }   

    .btn-toolbar .btn
    {
        width: 100%;
        float: none;
        border-radius:6px !important;
    }

    .banner{
	height: 200px;
	width: 100%;
	background-color: #e2e2e2;
	}
	.ind p{
		padding-top: 0px;
	}
}
@media(max-width:767px){
    .panorama .pan2{
		font-size: 18px;
	}
	.panorama .botao button{
		font-size: 11px;
	}
	.ind p{
		padding-top: 0px;
	}
	.tb1{
		padding-right: 15px;
	}
	.tb2{
		padding-left: 15px;
	}
	.col1{
		padding-right: 15px;
	}
	.pub{
		margin-top: 15px;
	}
	.celula{
		display: block;
		border-right: 0;
	}
	.indiceCol{
		display: block;
	}
	.graficoCol{
		display: block;
	}
	.input1{
		padding-right: 0px;
	}
	.input2{
		padding-left: 0px;
	}
	.submenu{
		position: relative;
		top: 0;
		left: 0;
		z-index: 0;
		padding: 0;
		background-color: #e2e2e2;
		height: auto;
		padding-bottom: 30px;
	}
	#myfirstchart{
		opacity: 0;
		height: 50px
	}
}