body {
  padding-top: 50px;
}
.starter-template {
  text-align: center;
}
.entrar{
	font-size:15px;
}
.social{
	margin-top:11px;
}
span.glyphicon-user{
	color:#faa733;
}
.pulaLinha{
	padding-bottom: 10px;
}

.page-header{ margin-top:5px; }
.page-header > .row > .col-xs-7 > .col-md-3 > a{ text-decoration: none; color: #9d9d9d; padding: 0; }
.page-header > .row > .col-xs-5 > .col-md-6 > a{ text-decoration: none; color: #9d9d9d; padding: 0; }

.noMargin{
	padding: 0;
}
.logo{
	width:auto;
	height:60px;
}
.logoCol{
	height:90px;	
}
.regionalImg{
	min-height:90px;
	max-height:90px;
	text-align:center;
	padding:0;
}
.regionalImg > img{
	margin-top:18px;
	padding-right:0
}
.regional{
	max-height:90px;
	padding-right:0	
}
.regional .texto1{
	font-weight: bold;
	color: #9d9d9d;
}
.regional .texto1 .esq{
	transform: rotate(270deg);
}
.regional .texto2{
	color: #9d9d9d;
}

.sub-header > h4 > .col-md-10 > .col-md-3 > a{ text-decoration: none; padding: 0; }
.sub-header > h4 > .col-md-1 > a{ text-decoration: none; color: #bbb; padding: 0; }
.sub-header > h4 > .col-md-10 > .col-md-3 { padding-bottom: 10px; }

.noticias{
	color: #f26b39;
}
.capacitese{
	color: #1a81b6;
}
.participe{
	color: #48b7a3;
}
.consulte{
	color: #faa733;
}

.assuntos{
	background-color: #f7f5f5;
	margin-top: -20px;
}

.btn-toolbar .btn{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.btn-toolbar .ass{
    background-color: #9d9d9d;
}
.btn-toolbar .btn-link{
    text-decoration: none;
    color: #9d9d9d;
}

.banner{
	height: 90px;
	width: 100%;
	background-color: #e2e2e2;
}

.panel{
    border-radius: 0px;
}
.label-participe{
	background-color: #48b7a3;
	padding: 10px 10px 10px 15px;
    border-radius: 0px;
}
.label-novidades{
	background-color: #f26b39;
	padding: 10px 10px 10px 15px;
    border-radius: 0px;
}
.label-capacitese{
	background-color: #1a81b6;
	padding: 10px 10px 10px 15px;
    border-radius: 0px;
}
.label-consultar{
	padding: 10px 10px 10px 15px;
}
.wg{
	position: relative;
	min-height: 60px;
	max-height: 128px;
	padding: 0;
	overflow:hidden;
}
.wg img{
	position: relative;
	top: -50px;
	left: 0;
}
.wg .row{
	position: absolute;
    left: 0;
    bottom: 9px;
}
.panel{
	border: 1px solid #e2e2e2;
}
.panel-body .panel-participe{
	color: #48b7a3;
	font-size: 18px;
}
.panel-body .panel-novidades{
	color: #f26b39;
	font-size: 18px;
}
.panel-body .panel-capacitese{
	color: #1a81b6;
	font-size: 18px;
}
.panel-body p{
	margin: 0;
	color: #9d9d9d;
}
.widget{
	padding: 0px;
	list-style:none;
}
.widget > li{
	color: #9d9d9d;
}
.widget > li > i{
	padding: 3px;
	text-align: center;
	width: 20px;
}
.panel-yellow{
	position: relative;
	max-height: 400px;
}
.panel-yellow .panel-heading{
	position: relative;
	min-height: 0px;
	height: 37px;
	background-color: #faa733;
	border-radius: 0px;
}
.panel-yellow .panel-body{
	max-height: 350px;
	overflow: auto;
}
.panel-yellow .panel-body ul li{
	border-left: 0px;
	border-right: 0px;
	color: #9d9d9d;
}
.panel-yellow .panel-body ul li:first-child{
	border-top: 0px;
}
.panel-yellow .panel-body ul li:last-child{
	border-bottom: 0px;
}
.panel-yellow .panel-body ul li button{
	float: right;
	transform: rotate(270deg);
	text-decoration: none;
	color: #9d9d9d;
}

.panorama{
	position: relative;
    height: 288px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #133260;
}
.panorama .pan{
	position: absolute;
	top: 0;
	right: 0;
}
.panorama .oitenta{
	position: absolute;
	top: 30px;
	margin-left: 50%;
	left: -46px;
}
.panorama .pan1{
	position: absolute;
	top: 142px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
}
.panorama .pan2{
	position: absolute;
	top: 160px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	width: 100%;
}
.panorama .botao{
	position: absolute;
	top: 218px;
	text-align: center;
	width: 100%;
}
.panorama .botao button{
	color: #133260;
	font-weight: bold;
}

.ultmnews{
	margin-top: 30px;
	border-color: #f26b39;
	padding-bottom: 20px;
}
.ultmnews h3{
	margin: 0;
}
.newsTitulo{
	color: #f26b39;
}
.edt{
	margin-bottom: 10px;
	border: none;
}
.ed{
	padding: 10px 15px 0px 15px;
}
.ed .panel-title{
	font-size: 13px;
	font-weight:bold;
	color: #9d9d9d;
}
.editoria{
	padding: 0px 15px 10px 15px;
	color: #f26b39;
	font-size: 18px;
}
.cub{
	margin-top: 20px;
}
.cub .mes{
	color: #9d9d9d;
	font-size: 13px;
	font-weight: bold;
}
.cub p{
	margin:0;
	color: #f26b39;
	font-size: 18px;
	font-weight: normal;
}
.cub .descritivo{
	color: #9d9d9d;
	font-size: 13px;
}
.ind p{
	padding-top: 22px;
	margin: 0;
	color: #9d9d9d;
	font-size: 13px;
	font-weight: bold;
}
.cubTitle{
	font-size: 15px;
	text-align: center;
}
.cubData{
	font-size: 40px;
	text-align: center;
}
.borda{
	border: 1px solid #9d9d9d;
}
.tb1{
	padding-right: 0px;
}
.tb2{
	padding-left: 0px;
}
.table td{
	vertical-align: middle;
}
.table td:first-child{
	text-align: center;
}
.tableTitle{
	font-size: 13px;
	font-weight: bold;
	color: #9d9d9d;
	margin-top: 10px;
	margin-bottom: 0;
}
.tableData{
	font-size: 40px;
}
.tableDt{
	font-size: 13px;
}
.revistas h3{
	margin: 0;
	font-size: 18px;
}
.revistas h3 small{
	font-size: 13px;
	font-weight: bold;
	color: #9d9d9d;
}
.col1{
	padding-right: 0px;
}
.col2{
	padding-left: 0px;
}
.revistaDet{
	padding: 0px;
	list-style-position: inside;
}
.inscrevase{
	color: #9d9d9d;
}
.inscrevase .col-xs-3 i{
	margin-top: 8px;
}
.email{
	font-size: 13px;
	font-weight: bold;
}
.emailCol{
	padding-right: 0px;
	font-size: 13px;
}
.cursos{
	margin-top: 30px;
	border-color: #1a81b6;
	padding-bottom: 20px;
}
.cursos h3{
	margin: 0;
}
.cursosTitulo{
	color: #1a81b6;
}
.pub{
	max-height: 159px;
	max-width: 350px;
	border: 1px solid #9d9d9d;
	float: none;
    margin: 0 auto;
}
.dev{
	margin-top: 30px;
	border-color: #48b7a3;
	padding-bottom: 20px;
}
.dev h3{
	margin: 0;
}
.devTitulo{
	color: #48b7a3;
}

@media(max-width:991px){
    .btn-toolbar
    {
        display: block;
        text-align: center;
        float:none;
        white-space: pre-line;	
    }   

    .btn-toolbar .btn
    {
        width: 100%;
        float: none;
        border-radius:6px !important;
    }

    .banner{
	height: 200px;
	width: 100%;
	background-color: #e2e2e2;
	}
	.ind p{
		padding-top: 0px;
	}
}
@media(max-width:767px){
    .panorama .pan2{
		font-size: 18px;
	}
	.panorama .botao button{
		font-size: 11px;
	}
	.ind p{
		padding-top: 0px;
	}
	.tb1{
		padding-right: 15px;
	}
	.tb2{
		padding-left: 15px;
	}
	.col1{
		padding-right: 15px;
	}
	.pub{
		margin-top: 15px;
	}
}